/*header*/
nav{
    background-color: #261C11;  
}
.navbar a{
    color: white;
    font-family: 'DotGothic16', sans-serif;
}

/*App title EduQuest*/
.h5:hover,
.h5:focus{
    color: #fff !important;
}

/*News Category FAQ*/
.nav-item a:hover,
.nav-item a:focus{
    color: #fff !important;
}
.nav-item a:active {
    color: #aaa !important;
    transform: translateY(2px);
}

/*カテゴリーのドロップダウン*/
.nav-item-dropdown a{
    color: #261C11 !important;
    font-family: 'DotGothic16', sans-serif;
}
.nav-item-dropdown a:hover, 
.nav-item-dropdown a:focus {
    color: #261C11 !important;
    background-color: transparent;
}
.nav-item-dropdown a:active {
    color: #261C11 !important;
    transform: translateY(2px);
}

/*Sign in と Register*/
.custom-btn {
    background-color: #588157;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 130px;
}

/* ↓何用のCSSかは要チェック */
.title-icon {
    height: 3em; /* h2のフォントサイズに合わせる */
    width: auto; /* アスペクト比を保持 */
    vertical-align: middle; /* テキストとの縦位置を調整 */
}

/* ↓何用のCSSかは要チェック */
/* Resistration card body by Yudai */

.resistration-card-body {
    background-image: url('../images/resistration_bg.jpg'); /* 画像のパスを適切に設定 */ 
    background-size: cover; /* 画像のサイズをカバーに設定 */ 
    background-position: center; /* 画像を中央に配置 */ 
    background-repeat: no-repeat; /* 画像の繰り返しを無効に */ 
}
/*アイコンのドロップダウンメニュー*/
.dropdown-menu {
    font-family: 'DotGothic16', sans-serif;
    color: #261C11;
}
.nav-item-2 a{
    color: #261C11;
    font-family: 'DotGothic16', sans-serif;
}

.nav-item-2 a:hover, 
.nav-item-2 a:focus {
    color: #261C11;
    background-color: transparent;
}
.nav-item-2 a:active {
    color: #261C11 !important;
    transform: translateY(2px);
}
.dropdown-menu .dropdown-divider {
    /*hr*/
    border-color: #aaa;
    opacity: 0.5;
    margin: 0.5rem 0;
}
.sword{
    /*ドロップダウンの剣の画像*/
    width: 1.5rem;
    height: 1.5rem; 
    margin-right: 10px;
}

/*icon*/
.icon {
    /*image追加してなかった時のicon*/
    width:3rem;
    height:3rem;
    background-color: #aaa; 
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.img-icon {
    /*image追加した時のicon*/
    width:3rem;
    height:3rem;
    object-fit: cover;
}

main{
    background-color: #fffff3;
    font-family: 'DotGothic16', sans-serif;
}

footer{
    background-color: #261C11;
    font-family: 'DotGothic16', sans-serif;
}


/* ↓↓↓ for switch.blade.php ↓↓↓ */
.image-md{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.icon-md{
    font-size: 3.5rem;
}

.border-color{
    border: 1px solid #3C2C1B;
}

.round-10{
    border-radius: 10px;
}

.btn-custom-border {
    border-color: #3C2C1B !important;
}

/* 左寄せを強調 */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 左寄せ */
}

.news-button {
    margin-top: 15px; /* ボタンの間隔を調整 */
    width: 100%; /* ボタンが親要素の幅いっぱいに広がる */
}

.truncate-2-lines {
    display: -webkit-box;              /* 必須: ブロック要素化 + flexboxベース */
    -webkit-box-orient: vertical;      /* 縦方向にボックスを並べる */
    -webkit-line-clamp: 2;            /* 2行で切り捨て */
    overflow: hidden;                  /* はみ出した部分を非表示に */
    text-overflow: ellipsis;          /* 省略記号をつける(Chrome等で有効) */
}


.quests-row {
    background-color: #FCFCE7;
}

.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* gap: 1rem; */
}

.quest-item {
    flex: 0 0 auto;
    width: 200px;
    background-color: #fff;
    /*  #EDEBEB */
}

.quest-item a {
    color: black;
    text-decoration: none;
}

.aspect-ratio-16-9 {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    background-color: #fff;
}

.aspect-ratio-16-9-inner {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    overflow: hidden; /* 念のため */
}

.aspect-ratio-16-9-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-image-box {
    background-color: #ccc;
    position: relative;
}

.no-image-box .no-image-text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
}

.flag_green {
width: 1.5rem;
height: 1.5rem; 
margin-right: 10px;
}  

.category-badge {
background-color: #588157; 
color: #fff;  
margin-left: 5px;    
padding: 2px 6px;         /* 内側の余白 */
border-radius: 3px;       /* 角丸 */
font-size: 0.7rem;        /* 大きさ微調整 */
margin-right: 4px;        /* バッジ同士の隙間 */
}
/* ↑↑↑ for home.blade.php ↑↑↑ */


/* ↓↓↓ for switch.blade.php ↓↓↓ */
/* 1　左のバー */
.side-bar{
    border: 2px solid #261C11;
    border-radius: 20px;
    font-size: 6px;
    margin-left: 30px;
    /* margin-bottom: 50px;  */
    display: flex;
    flex-direction: column; /* 縦方向に並べる */
    /* height: 100%;  */
}
/* 2　剣持った画像の事 */
.player-image{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 15px;
}
/* 3　ファイルを選択の下の2行の事 */
.Accetable{
    font-size: 10px;
    line-height: 1.2; /* 行間を狭める */
    margin-bottom: 5px; /* パラグラフ間の余白も調整 */
    margin-top: 10px;
}
/* 4　3つある剣の画像の事 */
.homeSword{
    height: 40px;
    width: 40px;
}

.slime {
    height: 40px;
}

.custom-switch-btn {
background-color: #588157;
color: white;
text-decoration: none;
display: inline-block;
margin-right: 15px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
width: 130px;
}
/* ↑↑↑ for switch.blade.php ↑↑↑ */



/*-----------------------------------------[71:How to Guide]--------------------------------------*/

.guide-whole-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 1200px;
    margin: auto;
}

.guide-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 1.5vw; 
    width: 100%; 
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
}

.guide-content {
    width: 100%; 
}

.guide-title-container h2 {
    margin-top: 1rem;
    font-size: 2rem;
}

.guide-body p {
    font-size: 1.5vw;
    justify-content: center;
    align-items: center;
}

.guide-title-container img {
    width: 3rem;
    height: auto;
}

.guide-body {
    display: flex;
    flex-direction: column;
    align-items: center; /* guide-body を中央に配置 */
    width: 80%;
    max-width: 1200px;
    text-align: left; /* p のデフォルトの左揃えを保持 */
}

.writer-guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5vh;
}

.guide-container {
    display: flex;
}

.box {
    width: 5vw;
    height: 5vw;
    background-color: black;
    border: 0.5vw solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(225, 225, 9);
    font-size: 2.5vw;
    font-family: 'DotGothic16';
}

.box-container {
    width: 6vw;
    height: 6vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;
}

.guide-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 2vw;
}

.guide-image-container {
    display: flex;
    justify-content: flex-start; /* 両端に画像を配置 */
    gap: 0.7vw; /* 画像間の距離を縮める */
}

.guide-image {
    display: flex;
    width: auto; /* 画像の幅をコンテンツに合わせて調整 */
}

.guide-image img {
    width: 8vw; /* 画像の幅を調整 */
    height: auto; /* 高さを自動調整 */
}

.go-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-link a {
    color: black;
    text-decoration: none;
    font-family: 'DotGothic16';
    background: white;
    padding: 1vh 3vw;
    border: 0.2vw solid #333;
    border-radius: 1.5vw;
    box-shadow: 0 0.5vh 0.5vh black;
    margin: 5vh 15vw;
}



/*-----------------------------------------[75:Create Quest]--------------------------------------*/

/*-------------[form全体のデザイン]---------*/
form {
    font-family: 'DotGothic16';
}

.form-group {
    margin: 20px auto;
}

.chapter-container {
    margin: 5rem auto;
}

.form-group label {
    margin: 10px auto;
    font-size: 1.1rem;
}

.create-container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


/*-----------[Create a Quest]---------------*/

/* 旗の画像とタイトル */
.title-container {
    display: flex;
    gap: 1rem;
    margin: 2rem auto;
}

.title-container img {
    width: 2.5rem;
    height: 3rem;
}


/* カテゴリー選択ラベルのスタイル */
.category-option {
    display: inline-block;
    text-align: center;
    margin: 10px 2px;
    padding: 0.2rem 1rem;
    background-color: #528966;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-option.selected {
    background-color: #e0e0e0 !important; /* 優先順位を強化 */
    color: white;
}

.category-option input {
    display: none;
}


.bg-img-container img {
    width: 40rem;
    height: auto;
}


/* クエストのサムネイル */

/* uploadボタン */
.custom-file-button {
    color: #333;
    background: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #333;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

/* uploadボタンの指画像 */
.custom-file-button img {
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
}

/* 元の[ファイルを選択]ボタンを非表示にする */
input[type="file"] {
    display: none; /* ファイル選択ボタンを非表示にする */
}


/* 画像プレビューの枠線 */
.image-preview-container {
    border: 2px dashed #ccc; 
    padding: 10px;           
    background-color: #f9f9f9; 
    border-radius: 8px;       
    display: flex;    
    justify-content: center;
    align-items: center;      
    width: 100%;           
    height: 65%;
    aspect-ratio: 5 / 3;  
    margin: 10px auto;       
}

/* プレビュー画像が枠内に収まるように */
#image_preview {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 画像を枠に収める */
    object-position: center;  /* 画像を中央に配置 */
    border-radius: 6px;
}



/* 画像プレビューの枠の高さを揃える */
.thumbnail-container label {
    margin-bottom: -0.5rem;
}


/*-----------[Create a Chapter]---------------*/


/* chapter番号のデザイン */
.chapter-bg h5 {
    background: #333;
    color: white;
    text-align: center;
    padding: 5px 10px;
    width: 130px;
    height: auto;
    margin: 0;
}

.chapter-bg {
    background: white;
    width: 140px;
    border: 1px solid #333;
    display: flex;
    justify-content: flex-left;
    align-items: flex-left;
    padding: 5px;
}

/* 動画のプレビューコンテナ */
.video-preview-container {
    border: 2px dashed #ccc; 
    padding: 10px;           
    background-color: #f9f9f9; 
    border-radius: 8px;       
    display: flex;    
    justify-content: center;
    align-items: center;      
    width: 100%;           
    height: 65%;
    aspect-ratio: 5 / 3;  
    margin: 10px auto;
}

#video_preview {
    width: 100%;
    height: 100%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}


/* add more chapterボタンのデザイン */
.btn-add-chapter {
    border: none; /* デフォルトの枠線を削除 */
    background: none; 
    padding: 0; 
    display: inline-block;
    font-size: 1.2rem;
}

.button-content {
    display: inline-flex; /* 画像とテキストを横並びに */
    align-items: center;
    border-bottom: 1px solid #333; 
    padding: 0; 
    margin: 25px;
}

/* chapter追加ボタンのデザイン */
.btn-add-chapter img {
    width: 20px;
    height: 20px;
    margin-right: 5px; 
}

/* formボタンのデザイン　*/
.btn-design {
    text-decoration: none;
    color: #333;
    background: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #333;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-design img {
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
}


/* formボタンの場所指定 */
.btn-container {
    position: relative;
}

.form-btn {
    position: absolute;
    right: 20px;
    bottom: -100px;
    z-index: 1000;
}